var initStartX = 0;
var initStartY = 0;

var rect = {
    startX: 0,
    startY: 0,
    width: 0,
    height: 0
}

function touchstart(event, ins) {
    if (!event.currentTarget.dataset.isrubber || event.currentTarget.dataset.disable) return;

    var touch = event.touches[0] || event.changedTouches[0];
    var parentNodeOffset = event.currentTarget;
    var touchX = touch.pageX;
    var touchY = touch.pageY + Number(parentNodeOffset.dataset.containerscrolltop);
    // console.log(JSON.stringify(parentNodeOffset), JSON.stringify(touch), touch.pageX, touch.pageY);
    initStartX = touchX - parentNodeOffset.dataset.rect.left;
    initStartY = touchY - parentNodeOffset.dataset.rect.top;
    ins.selectComponent('.rubber-box').setStyle({
        left: initStartX + 'px',
        top: initStartY + 'px'
    });
}

function touchmove(event, ins) {
    if (!event.currentTarget.dataset.isrubber || event.currentTarget.dataset.disable) return;

    var touch = event.touches[0] || event.changedTouches[0];
    var parentNodeOffset = event.currentTarget;
    var touchX = touch.pageX;
    var touchY = touch.pageY + Number(parentNodeOffset.dataset.containerscrolltop); 
    var moveToX;
    var moveToY;
    if (touchX - parentNodeOffset.dataset.rect.left <= 0) {
        moveToX = 0;
    } else if (touchX - parentNodeOffset.dataset.rect.left >= Number(event.currentTarget.dataset.rect.width)) {
        moveToX = Number(event.currentTarget.dataset.rect.width);
    } else {
        moveToX = touchX - parentNodeOffset.dataset.rect.left;
    }
    if (touchY - parentNodeOffset.dataset.rect.top <= 0) {
        moveToY = 0;
    } else if (touchY - parentNodeOffset.dataset.rect.top >= Number(event.currentTarget.dataset.rect.height)) {
        moveToY = Number(event.currentTarget.dataset.rect.height);
    } else {
        moveToY = touchY - parentNodeOffset.dataset.rect.top;
    }
    var startX = Math.min(moveToX, initStartX);
    var startY = Math.min(moveToY, initStartY);
    var width = Math.abs(moveToX - initStartX);
    var height = Math.abs(moveToY - initStartY);
    
    ins.selectComponent('.rubber-box').setStyle({
        left: startX + 'px',
        top: startY + 'px',
        width: width + 'px',
        height: height + 'px'
    });

    setRect(startX, startY, width, height);
}

function touchend(event, ins) {
    if (!event.currentTarget.dataset.isrubber || event.currentTarget.dataset.disable) return;

    ins.callMethod('rubberEnd', rect);
    ins.selectComponent('.rubber-box').setStyle({
        left: 0,
        top: 0,
        width: 0,
        height: 0
    });
}

function setRect (startX, startY, width, height) {
    rect.startX = startX;
    rect.startY = startY;
    rect.width = width;
    rect.height = height;
}

module.exports = {
    touchstart: touchstart,
    touchmove: touchmove,
    touchend: touchend
}